.landing
{
    margin: 100px 0;
    .button-holder
    {
        margin: 25px 0;
        .holder
        {
            margin: 25px 0;
            .btn
            {
                width: 100%;
                background-color: #2f4b82;
                font-size: 45.85px;
                color: #fff;
            }
        }
    }
}