.report
{
    margin: 50px 0;
    .title
    {
        color: #2e5d90;
        font-size: 25px;
    }
    label
    {
        color: #2e5d90;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
    }
    .form-control
    {
        box-shadow: none;
        border-radius: 0;
        border: 3px solid #476091;
    }
    .proponent-label
    {
        font-size: 16px;
        font-weight: 400;
        background-color: #2f4b82;
        color: #fff;
        text-align: center;
        padding: 2.5px;
    }
    .proponent-holder
    {
        text-align: left;
        margin-top: 7.5px;
        margin-bottom: 15px;
        .holder
        {
            display: inline-block;
            vertical-align: top;
            margin: 0 15px;
            .p-label
            {
                color: #2e5d90;
                font-size: 20px;
                text-align: center;
                display: inline-block;
            }
            .p-checkbox
            {
                text-align: center;
                display: inline-block;
                transform: scale(0.7);
                input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr
                {
                    padding-left: 50px;
                }
            }
        }
    }
    .form-control
    {
        font-size: 16px;
    }
    .form-control[readonly]
    {
        background-color: #fff;
    }
    input[type="text"].form-control
    {
        height: 40px;
    }
    textarea.form-control
    {
        resize: none;
    }
    .status.form-control
    {
        height: 100px;
    }
    .notes.form-control
    {
        height: 300px;
    }
    .save
    {
        margin-top: 50px;
        .btn
        {
            max-width: 420px;
            margin: auto;
            display: block;
        }
    }
    .report-view
    {
        text-align: right;
        margin-top: 75px;
        .button-holder
        {
            display: inline-block;
            margin: 0 10px;
            .btn
            {
                padding-left: 25px;
                padding-right: 25px;
                font-size: 18px;
            }
        }
        .proponent-container
        {
            text-align: left;
            label
            {    
                font-size: 16px !important;
            }
        }
    }
    
    .monitoring-container
    {
        border-top: 1px dotted #2e5d90;
    }
    
    .opinion-holder
    {
        .holder
        {
            margin-top: 15px;
            &:first-child
            {
                margin: 0;
            }
        }
    }
    .features-holder
    {
        .holder
        {
            margin-top: 15px;
            &:first-child
            {
                margin: 0;
            }
        }
    }
}

.sebu
{
    width: auto;
    display: inline-block;
    padding: 7.5px 35px;
}

.footnote
{
    font-size: 16px;
    color: #2f4b82;
    font-style: italic;
    margin-top: 7.5px;
}

.related-bill-container
{
    .holder
    {
        margin-bottom: 15px;
        &:last-child
        {
            margin-bottom: 0;
        }
    }
}

.chosen-choices
{
    box-shadow: none;
    border-radius: 0;
    border: 3px solid #476091;
}