.search
{
    margin: 25px 0;
    .search-title
    {
        color: #2F4A84;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 25px;
    }
    ol
    {
        li
        {
            
        }
    }
}